.headlineContainer{
    display: flex;
    align-items: center;
    height: 5em;
    overflow: hidden;
}

.headline{
    white-space: nowrap;
    margin: 0 2em;
}

.headline div{
    display: flex;
    gap: 2em;
}

.headline .headlineContent{
    font-size: 4em;
    color: white;
    margin: 10px;
    line-height: 10px;
}

.RightToLeft{
    animation: RightToLeft 10s linear infinite;
}

@keyframes RightToLeft{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}

.headlineContainer:hover .RightToLeft{
    animation-play-state: paused;
}