.headlineContainer{
    display: flex;
    align-items: center;
    height: 4.5vw;
    overflow: hidden;
}

.headline{
    white-space: nowrap;
}

.headline > div{
    display: flex;
}

.headline .headlineContent{
    font-size: clamp(0.8rem, calc(1.7vw + 0.6rem), 2.6rem);
    color: white;
    line-height: 0.1vw;
}

.RightToLeft{
    animation: RightToLeft 15s linear infinite;
}

@keyframes RightToLeft{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100vw);
    }
}

.headlineContainer:hover .RightToLeft{
    animation-play-state: paused;
}