.tabellaMemorialeZenk{
    width: 90%;
    margin: 1vw 5%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    grid-template-columns: 25% 50% 25%;
    background-color: rgba(255, 255, 255, 0.1);
}

.tabellaMemorialeZenk .subPageTitle{
    padding: 0.15rem 0;
    width: 100%;
    font-size: clamp(0.8rem,calc(1.9vw + .7rem),2.5rem);
    color: #85bdfc;
    text-shadow: 0 0 8px #cae2fd;
    text-align: center;
}

.tabellaMemorialeZenk .headerRow{
    font-size: clamp(0.7rem,calc(1.3vw + .6rem),2.2rem);
    padding: 0.2rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #cae2fd;
    text-align: center;
}

.tabellaMemorialeZenk .contentRow{
    font-size: clamp(0.5rem,calc(1vw + .5rem),2rem);
    padding: 0.2rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #ccc;
    text-align: center;
    border-radius: 0.3vw;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-style: solid none none none;
}

.headerRow > .headerElement:nth-of-type(1),  .contentRow > .contentElement:nth-of-type(1){
    width: 20%;
}

.headerRow > .headerElement:nth-of-type(2),  .contentRow > .contentElement:nth-of-type(2){
    width: 60%;
}

.headerRow > .headerElement:nth-of-type(3),  .contentRow > .contentElement:nth-of-type(3){
    width: 20%;
}