html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.handjet-fontface{
  font-family: 'Handjet';
}

.vt323-fontface{
  font-family: 'VT323';
}

.kodeMono-fontface{
  font-family: 'Kode Mono';
}

.cuprum-fontface{
  font-family: 'Cuprum';
}