html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.sixtyfourDiplay-fontface{
  font-family: 'Sixtyfour';
}

.vt323-fontface{
  font-family: 'VT323';
}

.kodeMono-fontface{
  font-family: 'Kode Mono';
}

.cuprum-fontface{
  font-family: 'Cuprum';
}